


/* Navigation Bar */

 .nav-item {
    padding: 0 18px;
 }

 .nav-link {
   color: gray;
   font-weight: bold;
 }

 /* title */

 .h1-header {
   line-height: 1.5;
 }

.h3-header {
   margin-bottom: 30px;
}

.title-div {
   padding: 140px 0 80px;
}

.title-btn {
   margin: 5% 3% 5% 0;
}

/* What I do */

.tag-btn {
  margin: 5px;
}