/* Containers */

/* .container-lg {
   padding: 7% 15%;
} */

/* sections  */

.section-div {
   padding: 7% 0;
   /* background-color: aquamarine; */
}

/* Navigation Bar */

 .nav-item {
    padding: 0 18px;
 }

 .nav-link {
   color: gray;
   font-weight: bold;
 }

 /* title */

 .h1-header {
   line-height: 1.5;
 }

.h3-header {
   margin-bottom: 30px;
}

/* .title-div {
   padding: 140px 0 80px;
   padding: 7% 0 15%;
} */

.title-btn {
   margin: 5% 3% 5% 0;
}

/* Core Tech */

.tag-btn {
  margin: 5px;
}

.row-card {
   margin-top: 2.5%;
}

/* project */

.carousel-inner {
    min-height: 550px; /* needed so the slide doesn't change the size of the container */
}

.project-subheading {
   line-height: 1.5; 
}

.project-div {
   padding-top: 5%;
}


.project-image {
   margin: 20px;
}

.project-big-image {
   width: 100%;
}

.carousel-item { 
   padding: 0 15% 7%;
   text-align: center;
}

.github-link {
   text-decoration: none;
}